<!DOCTYPE html>
<html dir="ltr" lang="en-US">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />

    <!-- Stylesheets
	============================================= -->
    <%- include("partials/css") %>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Document Title
	============================================= -->
    <title>Home | Syticks</title>
  </head>

  <body class="stretched">
    <!-- Document Wrapper
	============================================= -->
    <!-- Top Bar
		============================================= -->
    <%- include("partials/top") %>
    <!-- #top-bar end -->

    <div id="wrapper" class="clearfix">
      <!-- Header
		============================================= -->
      <%- include("partials/header") %>
      <!-- #header end -->

      <!-- hero section -->
      <section id="page-title">
        <div class="container clearfix">
          <h1>All Events</h1>
        </div>
      </section>

      <section id="content">
        <!-- /hero section -->

        <div class="content-wrap">
          <div class="container clearfix">
            <!-- Shop
            ============================================= -->
            <div
              id="shop"
              class="shop grid-container clearfix"
              data-layout="fitRows"
            >
              <% for (let i = 0; i < events.length; i++) {%>
              <div class="product clearfix">
                <div class="product-image">
                  <a href="/events/<%=events[i].slug%>"
                    ><img
                      src="<%=events[i].images[0].url%>"
                      alt="Checked Short Dress"
                  /></a>
                </div>
                <div class="product-desc">
                  <div class="product-title">
                    <h3>
                      <a href="/events/<%=events[i].slug%>"
                        ><%= events[i].name%></a
                      >
                    </h3>
                  </div>
                </div>
              </div>

              <% } %>
            </div>
            <!-- #shop end -->
          </div>
        </div>
      </section>

      <!-- Content=======   -->

      <!-- #content end -->

      <!-- Footer
		============================================= -->
      <%- include("partials/footer") %>
      <!-- #footer end -->

      <!-- #footer end -->
    </div>
    <!-- #wrapper end -->

    <!-- Go To Top
	============================================= -->
    <div id="gotoTop" class="icon-angle-up"></div>

    <!-- External JavaScripts
	============================================= -->
    <script src="js/jquery.js"></script>
    <script src="js/plugins.js"></script>

    <!-- Footer Scripts
	============================================= -->
    <script src="js/functions.js"></script>
  </body>
</html>
