<!DOCTYPE html>
<html dir="ltr" lang="en-US">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />

    <!-- Stylesheets
	============================================= -->

    <%- include("partials/css") %>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Document Title
	============================================= -->
    <title>Organiser's Dashboard | Syticks</title>
  </head>

  <body class="stretched">
    <!-- Document Wrapper
	============================================= -->
    <!-- Top Bar
		============================================= -->
    <%- include("partials/top") %>
    <!-- #top-bar end -->

    <div id="wrapper" class="clearfix">
      <!-- Header
		============================================= -->
      <%- include("partials/header") %>
      <!-- #header end -->

      <section id="page-title">
        <div class="container clearfix">
          <h1>Organiser's Dashboard - Overview</h1>
        </div>
      </section>
      <!-- #page-title end -->

      <!-- Content
      ============================================= -->
      <section id="content">
        <div class="content-wrap">
          <div class="container clearfix">
            <div class="row pricing bottommargin clearfix">
              <div class="col-md-6">
                <div class="pricing-box">
                  <div class="pricing-title">
                    <h3>Total Income</h3>
                  </div>
                  <div class="pricing-price">
                    <span class="price-unit"></span>1000
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <a href="/organiser/<%=data.id%>/detail">
                  <div class="pricing-box">
                    <div class="pricing-title">
                      <h3>No. of Tickets Sold</h3>
                    </div>
                    <div class="pricing-price">
                      <span class="price-unit"></span>12
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- #content end -->

      <!-- #content end -->

      <!-- Footer
		============================================= -->
      <%- include("partials/footer") %>
      <!-- #footer end -->

      <!-- #footer end -->
    </div>
    <!-- #wrapper end -->

    <!-- Go To Top
	============================================= -->
    <div id="gotoTop" class="icon-angle-up"></div>

    <!-- External JavaScripts
	============================================= -->
    <script src="/js/jquery.js"></script>
    <script src="/js/plugins.js"></script>

    <!-- Footer Scripts
	============================================= -->
    <script src="/js/functions.js"></script>

    <!-- Footer Scripts
	============================================= -->
    <script src="/js/functions.js"></script>
  </body>
</html>
